.main_container {
  width: 100%;
  min-height: 90vh;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(6, 220px);  /* 6 cards por linha com 220px de largura */
  gap: 20px;  /* Ajuste o espaçamento entre os cards */
  justify-content: center; /* Centraliza os cards na horizontal */
  align-content: center;   /* Centraliza os cards na vertical */
  justify-items: center;   /* Centraliza os cards dentro de cada célula da grid */
}

.main_container section {
  width: 220px;  /* Largura fixa dos cards */
  min-height: 350px; /* Ajuste a altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px; /* Espaçamento entre os itens dentro do card */
  padding: 20px;
  border-radius: 5px;
  background-color: #856957;
  text-align: center;
  color: #fff;
  box-sizing: border-box;  /* Garante que o padding não afete o tamanho final do card */
}

.main_container section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.titulo_icone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_container section img {
  width: 170px; /* Ajuste a largura da imagem */
  height: 170px; /* Ajuste a altura da imagem */
  object-fit: contain; /* Garante que a imagem seja redimensionada mantendo a proporção */
  margin: 0 auto; /* Centraliza a imagem */
  border-radius: 2px;
}

.card_signo span {
  font-size: 14px;
  text-align: center;
}
